*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto';
}

/* Intro section */
header {
    height: 35vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url("../images/velo-city.jpg");
    background-size: cover;
    background-position: bottom center;
}

/* Slideshow section */
h1 {
    color: white;
    font-size: 1.7em;
    margin: 0 208px 0 0;
    text-shadow: 2px 2px black;
}

h1 span {
    font-style: oblique;
}

#slideshow {
    width: 300px;
    height: 230px;
    margin-top: 8px;
    background-color: #0984e3;
    opacity: 0.9;
    border: white 2px solid;
}

/* App section */
#appContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
}

#bikeBooking {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    width: 90%;
    height: 50vh;
    margin: 10px 0 5px;
    border: grey 1px solid;
    border-radius: 5px;
}

/* Data display section */
#infosStation {
    width: 90%;
    background-color: #74b9ff;
    margin: 5px 0 5px;
    border: black 1px solid;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    position: relative;    
}

/* Station data screen */
#infosStation p:nth-child(1) {
    text-align: center;
    margin: 15px 10px;
}

#infosStation p:nth-child(2) {
    max-width: 250px;
    margin: 0;
    padding: 7px 15px;
    align-self: center;
    text-align: center;
    border: white 1px solid;
    color: white;
    font-size: 1.2em;
}

table {
    margin: 16px 20px;
    border-collapse: collapse;
}

td {
    padding: 5px 10px;
}

td:nth-child(1) {
    width: 45%;
}

td:nth-child(2) {
    width: 55%;
    font-style: italic;
}

.bookingButton {
    cursor: pointer;
    color: white;
    border: 2px white solid;
    border-radius: 40px;
    box-shadow: 2px 3px #636e72;
    padding: 8px 16px;
    font-size: 1.2em;
}

.bookingButton:active {
    box-shadow: none;
}

.booking {
    background-color: #0984e3;
    margin: 16px 0px;
}

/* Booking screen */

#canvasWrapper {
    position: relative;
    width: 250px;
    height: 125px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: -14px 0 0;
    border: black 1px solid;
    align-self: center;
    position: relative;
    background-color: white;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    box-shadow: 2px 3px #636e72;
    z-index: 1;
}

.signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 250px;    
}

#blankCanvas {
    top: 300px;
}

#canvasButtonsDiv {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
}

#cancelButton {
    cursor: pointer;
    width: 28px;
    height: 28px;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    color: #fff;
    background-color: black;
    border: white 2px solid;
    border-radius: 50%;
    align-self: center;
    margin-top: 10px;
    margin-left: 248px;
    padding: 10px 4px 13px;
    box-shadow: 2px 3px #636e72;
    z-index: 2;
}

#cancelButton:before {
    content: "x";
}

#cancelButton:active {
    box-shadow: none;
}

.reset {
    background-color: #e17055;
}

.confirm {
    background-color: #00b894;
}

/* Countdown section */
footer {
    display: none;
    width: 90%;
    align-self: center;
    margin: 5px 0;
    border: black 1px solid;
    border-radius: 5px;
    background-color: #74b9ff;
    font-size: 0.9em;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div:nth-child(1) {
    margin-top: 20px;
    color: white;
}

footer div:nth-child(2) {
}

footer div:nth-child(3) {
    width: 100px;
    height: 100px;
    margin: 15px 0 20px;
    padding: 8px 12px;
    background-color: #00b894;
    border: 2px white solid;
    border-radius: 50%;
    box-shadow: 2px 3px #636e72;
    font-family: 'Orbitron';
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.wrapper {
  position: relative;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:400px;
  height:200px;
  background-color: white;
}





/* Media Queries */

/***********************************************
****************     Tablets     ***************
***********************************************/


@media (min-width: 768px) {
    header {
        height: 38vh;
    }

    h1 {
        font-size: 2.2em;
        margin: -10px 614px 0 0;
    }
    
    #slideshow {
        width: 425px;
        height: 240px;
        margin-top: 12px;
    }
    
    #map,
    #infosStation,
    footer {
        width: 95%;
    }
    
    table {
        margin: 16px 0;
    }
    
    td:nth-child(1) {
        width: 30%;
        padding: 5px 0;
    }

    td:nth-child(2) {
        padding: 5px 0;
        text-align: right;
    }
    
    #canvasWrapper {
        width: 600px;
        height: 300px;
    }
    
    #signature-pad {
        width: 600px;
        height: 300px;
    }
    
    #cancelButton {
        margin-left: 596px;
    }
}


/***********************************************
****************     Desktop     ***************
***********************************************/


@media (min-width: 1024px) {
    h1 {
        font-size: 3.2em;
        margin: -14px 0 0 0;
    }
    
    header {
        height: 500px;
    }
    
    #slideshow {
        width: 650px;
        height: 362px;
        margin-top: 28px;
        flex-direction: row;
    }
    
    /* App section */
    #bikeBooking {
        display: flex;
        flex-direction: row;
    }
    
    #map {
        width: 100%;
        height: 50vh;
        margin: 10px 5px 5px 0px;
    }
    
    /* Data display section */
    #bikeBooking {
        width: 98%;
    }
    
    #infosStation {
        width: 60%;
        max-width: 430px;
        height: 50vh;
        margin: 10px 0px 5px 5px;
    }
        
    #infosStation p:nth-child(2) {
        margin: 15px 0 10px;
    }
    
    table {
        width: 80%;
        align-self: center;
    }
    
    /* Countdown section */
    footer {
        width: 98%;
        margin: 5px 0 10px 0;
    }
    
    footer div:nth-child(3) {
        width: 120px;
        height: 120px;
        font-size: 1.2em;
        border: 4px white solid;
    }
    
    #canvasWrapper {
        width: 340px;
        height: 170px;
    }
    
    #signature-pad {
        width: 340px;
        height: 170px;
    }
    
    #cancelButton {
        margin-left: 336px;
    }
}