*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto';
}

/* Intro section */
header {
    height: 35vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url("../images/velo-city.jpg");
    background-size: cover;
    background-position: bottom center;
}

h1 {
    color: white;
    font-size: 1.7em;
    margin: 0 208px 0 0;
    text-shadow: 2px 2px black;
}

h1 span {
    font-style: oblique;
}

/* Slideshow section */

#slideshow {
    width: 300px;
    height: 230px;
    margin-top: 8px;
    background-color: #0984e3;
    opacity: 0.9;
    border: white 2px solid;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#slideshow div:nth-child(1) { /* indice de la page */
    width: 24px;
    height: 24px;
    font-size: 1.1em;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px white solid;
    border-radius: 50%;
}

#slideshow p {
    text-align: center;
}

#slideshow p:nth-child(1),
#slideshow p:nth-child(2),
#slideshow button,
#slideshow span:nth-child(8),
#slideshow span:nth-child(9) {
    position: absolute;
}

#slideshow p:nth-child(2) {
    font-size: 1.1em;
    font-weight: 500;
    width: 60%;
    top: 15px;
}

#slideshow p:nth-child(3) {
    margin: 30px 30px 10px;
    font-size: 0.9em;
}

#slideshow div:nth-child(4) {
    margin-top: -5px;
}

.legende img {
    width: 25px;
    margin-left: 20px;
}

.legende span {
    font-size: 0.8em;
    margin-left: 6px;
}

.legende {
    width: 80%;
    display: none;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#slideshow button {
    bottom: 10px;
}

#slideshow span:nth-child(8),
#slideshow span:nth-child(9) {
    bottom: 14px;
}

#slideshow button {
    background-color: inherit;
    border: white 2px solid;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    width: 28px;
    height: 28px;
}

#slideshow button:nth-child(7) {
    left: 10px;
}

#slideshow span:nth-child(8) {
    left: 45px;
}

#slideshow span:nth-child(9) {
    right: 45px;
}

#slideshow button:nth-child(10) {
    right: 10px;
}

/* App section */
#appContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
}

#bikeBooking {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    width: 90%;
    height: 50vh;
    margin: 10px 0 5px;
    border: grey 1px solid;
    border-radius: 5px;
}

/* Data display section */
#infosStation {
    width: 90%;
    background-color: #74b9ff;
    margin: 5px 0 5px;
    border: black 1px solid;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    position: relative;    
}

/* Station data screen */
#infosStation p {
    text-align: center;
    font-weight: 500;
    margin: 25px 25px 15px;
    font-size: 1.1em;
    color: white;
}

#infosStation span {
    max-width: 250px;
    margin: 0;
    padding: 7px 15px;
    align-self: center;
    text-align: center;
    border: white 1px solid;
    color: white;
    font-size: 1.2em;
}

table {
    margin: 16px 20px 25px;
    border-collapse: collapse;
}

td {
    padding: 5px 10px;
}

td:nth-child(1) {
    width: 45%;
}

td:nth-child(2) {
    width: 55%;
    font-style: italic;
}

.bookingButton {
    cursor: pointer;
    color: white;
    border: 2px white solid;
    border-radius: 40px;
    box-shadow: 2px 3px #636e72;
    padding: 8px 16px;
    font-size: 1.2em;
}

.bookingButton:active {
    box-shadow: none;
}

.booking {
    background-color: #0984e3;
    margin: 0 0 16px;
}

/* Signature screen */

#canvasWrapper {
    position: relative;
    width: 250px;
    height: 125px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: -14px 0 0;
    border: black 1px solid;
    align-self: center;
    position: relative;
    background-color: white;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    box-shadow: 2px 3px #636e72;
    z-index: 1;
}

.signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 250px;    
}

#blankCanvas {
    top: 300px;
}

#canvasButtonsDiv {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
}

#cancelButton {
    cursor: pointer;
    width: 28px;
    height: 28px;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    color: #fff;
    background-color: black;
    border: white 2px solid;
    border-radius: 50%;
    align-self: center;
    margin-left: 248px;
    padding: 10px 4px 13px;
    box-shadow: 2px 3px #636e72;
    z-index: 2;
}

#cancelButton:before {
    content: "x";
}

#cancelButton:active {
    box-shadow: none;
}

.reset {
    background-color: #e17055;
}

.confirm {
    background-color: #00b894;
}

/* Countdown section */
footer {
    display: none;
    width: 90%;
    align-self: center;
    margin: 5px 0;
    border: black 1px solid;
    border-radius: 5px;
    background-color: #74b9ff;
    font-size: 0.9em;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer span {
    color: white;
    text-align: center;
}

footer span:nth-child(1) {
    font-weight: 500;
    margin: 15px 0 15px 0;
}

footer div:nth-child(2) {
    width: 100px;
    height: 100px;
    padding: 8px 12px;
    background-color: #00b894;
    border: 2px white solid;
    border-radius: 50%;
    box-shadow: 2px 3px #636e72;
    font-family: 'Orbitron';
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}

footer span:nth-child(3) {
    width: 80%;
    background-color: #0984e3;
    border: 1px white solid;
    padding: 7px 15px;
    margin: 15px 0 0;
}

footer div:nth-child(4) {
    display: flex;
    flex-direction: row;
}

.footerButton {
    cursor: pointer;
    background-color: #0984e3;
    color: white;
    font-size: 1.1em;
    margin: 10px 0 20px;
    border: 2px white solid;
    border-radius: 40px;
    box-shadow: 2px 3px #636e72;
    padding: 8px 16px;
}

footer > div > button:nth-child(2) {
    margin-left: 15px;
}

/* Media Queries */

/***********************************************
****************     Tablets     ***************
***********************************************/


@media (min-width: 768px) {
    header {
        height: 38vh;
    }

    h1 {
        font-size: 2.2em;
        margin: -10px 614px 0 0;
    }
    
    #slideshow {
        width: 425px;
        height: 240px;
        margin-top: 12px;
    }
    
    #slideshow p:nth-child(3) {
        margin: 30px 30px 10px;
    }
    
    #slideshow div:nth-child(4) {
        margin-top: 5px;
    }
    
    .legende img {
        margin-left: 70px;
    }
    
    .legende span {
        font-size: 0.9em;
        margin-left: 15px;
    }
    
    #slideshow button {
        width: 32px;
        height: 32px;
    }
    
    #slideshow span:nth-child(8),
    #slideshow span:nth-child(9) {
        bottom: 15px;
    }
    
    #slideshow span:nth-child(8) {
        left: 50px;
    }
    
    #slideshow span:nth-child(9) {
        right: 50px;
    }
    
    #map,
    #infosStation,
    footer {
        width: 95%;
    }
    
    table {
        margin: 16px 0;
    }
    
    td:nth-child(1) {
        width: 30%;
        padding: 5px 0;
    }

    td:nth-child(2) {
        padding: 5px 0;
        text-align: right;
    }
    
    #canvasWrapper {
        width: 600px;
        height: 300px;
    }
    
    #signature-pad {
        width: 600px;
        height: 300px;
    }
    
    #cancelButton {
        margin-left: 596px;
    }
    
    footer span:nth-child(3) {
        width: 40%;
    }
}


/***********************************************
****************     Desktop     ***************
***********************************************/


@media (min-width: 1024px) {
    h1 {
        font-size: 3.2em;
        margin: -14px 0 0 0;
    }
    
    header {
        height: 500px;
    }
    
    #slideshow {
        width: 650px;
        height: 362px;
        margin-top: 28px;
        font-size: 1.2em;
    }
    
    #slideshow div:nth-child(1) { /* indice de la page */
        width: 30px;
        height: 30px;
    }
    
    #slideshow p:nth-child(2) {
        top: 40px;
    }
    
    #slideshow p:nth-child(3) {
        margin: 50px 30px 10px;
    }
    
    #slideshow div:nth-child(4) {
        margin-top: 10px;
    }
    
    #slideshow span:nth-child(8),
    #slideshow span:nth-child(9) {
        bottom: 18px;
    }
    
    #slideshow span:nth-child(8) {
        left: 50px;
    }

    #slideshow span:nth-child(9) {
        right: 50px;
    }
    
    #slideshow span {
        font-size: 0.8em;
        margin-left: 6px;
    }
    
    .legende img {
        margin-left: 135px;
        width: 35px;
    }
    
    .legende span {
        margin-left: 25px;
    }
    
    /* App section */
    #bikeBooking {
        display: flex;
        flex-direction: row;
    }
    
    #map {
        width: 100%;
        height: 50vh;
        margin: 10px 5px 5px 0px;
    }
    
    /* Data display section */
    #bikeBooking {
        width: 98%;
    }
    
    #infosStation {
        width: 60%;
        max-width: 430px;
        height: 50vh;
        margin: 10px 0px 5px 5px;
    }
        
    #infosStation span {
        margin: 15px 0 10px;
    }
    
    table {
        width: 80%;
        align-self: center;
    }
    
    /* Countdown section */
    footer {
        width: 98%;
        margin: 5px 0 10px 0;
    }
    
    #canvasWrapper {
        width: 340px;
        height: 170px;
    }
    
    #signature-pad {
        width: 340px;
        height: 170px;
    }
    
    #cancelButton {
        margin-left: 336px;
    }
    
    footer span:nth-child(3) {
        width: 25%;
    }
}