*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #dfe6e9;
}

#mainWrapper {
    margin: 40px 0 20px;
}

/* Header section */

header {
    height: 130px;
    margin-bottom: 20px;
    background-color: #F8F8F8;
}

/* Slideshow section */

#slideshowContainer {
    height: 250px;
    margin: 0 30px 20px ;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#slideshow {
    width: 100%;
    height: 100%;
    background-color: #0984e3;
}

/* Map section */

#appContainer {
    margin: 0 30px 20px;
}

#mapContainer {
    width: 100%;
    height: 400px;
    background-color: #f8f8f8;
    border: black 1px solid;
    margin-bottom: 10px;
}

#map {
    width: 100%;
    height: 100%;
}

infosContainer {
    border: white 1px solid;
}

#infosStation {
    height: 300px;
    background-color: #F8F8F8;
}

/* Countdown section */

footer {
    height: 80px;
    margin: 0;
    background-color: #0984e3;
}